<% @body_id = 'product-details' %>

<% cache cache_key_for_product do %>
  <div data-hook="product_show" class="row" itemscope itemtype="https://schema.org/Product">
    <div class="col-md-6" data-hook="product_left_part">
      <div data-hook="product_left_part_wrap">
        <div id="product-images" data-hook="product_images">
          <div id="main-image" class="panel panel-default" data-hook>
            <div class="panel-body text-center">
              <%= render :partial => 'image' %>
            </div>
          </div>
          <div id="thumbnails" data-hook>
            <%= render :partial => 'thumbnails' %>
          </div>
        </div>

        <div data-hook="product_properties">
          <%= render :partial => 'properties' %>
        </div>

        <div data-hook="promotions">
          <%= render :partial => 'promotions' %>
        </div>

      </div>
    </div>

    <div class="col-md-6" data-hook="product_right_part">
      <div data-hook="product_right_part_wrap">
        <div id="product-description" data-hook="product_description">
          <h1 class="product-title" itemprop="name"><%= @product.name %></h1>
           <div class="well" 
 itemprop="description" data-hook="description">
            <%= product_description(@product) %>
            
	   <div id="time"><%=time = time_delivery %></div>
          </div>
          <input type="text" id="ad_search_query" style="width:295px" pattern="[0-9][1-9]{5}">&nbsp; 
	  <input type="button" value="search" class="p-userButton" onClick="showTable(document.getElementById('ad_search_query').value);"/>
	  <div id="show" style="display:none;">supported</div>
	  <div id="notshow" style="display:none;">unsupported</div>	
		<style>
		input:invalid {
		color:blue;
			}
		<style>
		<script>
		function showTable(val){
		var pin = [110001, 110003, 110004, 110005, 110007, 110008, 110010, 110011, 110012, 110014, 110015, 110016, 110017, 110018, 			110019, 110021, 110022, 110023, 110024, 110025, 110026, 110027, 110028, 110029, 110048, 110049, 110055, 110057, 110058, 110059, 		110063, 110064, 110065, 110067, 110069, 110070];
			for (var i =0 ;i<pin.length ; i++){
        			 if( val == pin[i]){
           			document.getElementById("show").style.display = "block";
         			} else{
         			document.getElementById("notshow").style.display="block";
         			}  
     			}
     		}
		</script>
          <div id="cart-form" data-hook="cart_form">
            <%= render :partial => 'cart_form' %>
          </div>
	
        </div>

     
      </div>
    </div>

        </div>
<div id="taxon-crumbs" class="nav navbar-nav" style="color:rgba(217,57,52);position:relative;top:25px;" data-hook="product_taxons">
          <%= render :partial => 'taxons' %>
  </div>
<% end %>

