<% @body_id = 'product-details' %>

<% cache cache_key_for_product do %>
  <div data-hook="product_show" class="row" itemscope itemtype="https://schema.org/Product">
    <div class="col-md-6" data-hook="product_left_part">
      <div data-hook="product_left_part_wrap">
        <div id="product-images" data-hook="product_images">
          <div id="main-image" class="panel panel-default" data-hook>
            <div class="panel-body text-center">
              <%= render :partial => 'image' %>
            </div>
          </div>
          <div id="thumbnails" data-hook>
            <%= render :partial => 'thumbnails' %>
          </div>
        
        </div>
        <div data-hook="product_properties">
          <%= render :partial => 'properties' %>
        </div>        

        <div data-hook="promotions">
          <%= render :partial => 'promotions' %>
        </div>

      </div>
    </div>

    <div class="col-md-6" data-hook="product_right_part">
      <div data-hook="product_right_part_wrap">
        <div id="product-description" data-hook="product_description">
          <h1 class="product-title" itemprop="name"><%= @product.name %></h1>
           <div class="desc" 
 itemprop="description" data-hook="description">
            <%= product_description(@product) %>
            
	   <div id="time"><%=time = time_delivery %></div><br/>
	   <div id="pincode-check" class="input-group">
		<input type="text" id="ad_search_query" placeholder="Enter Delivery Pincode" style="width:295px" pattern="[0-9][1-9]{5}" class="form-control">&nbsp; 
		<input type="button" id="btn-chkPin" value="Check Availability" class="p-userButton input-group-addon" onClick="showTable(document.getElementById('ad_search_query').value);"/>
	    </div>
      <div id="show" style="display:none;">We deliver in this area!</div>
    <div id="notshow" style="display:none;">Sorry, This Area is currently not supported.</div>
          </div>
          
          <div id="cart-form" data-hook="cart_form">
            <%= render :partial => 'cart_form' %>
          </div>
	
        </div>

     
      </div>
    </div>

        </div>

<div id="taxon-crumbs" class="nav navbar-nav" data-hook="product_taxons">
          <%= render :partial => 'taxons' %>
  </div>

<% end %>

<script>
$("td:contains('Only with Egg')").replaceWith("\
    <div class=\"brander\"> \
        <img src=\"http:\/\/i.imgur.com/ONBo3Zf.png\"> \
        <div class=\"value-propositions\">Only With Egg</div> \
    </div>");
//only with egg

$("td:contains('Only Eggless')").replaceWith("\
    <div class=\"brander\"> \
        <img src=\"http:\/\/i.imgur.com/MTRR9yk.png\"> \
        <div class=\"value-propositions\">Eggless</div> \
    </div>");
//only with egg


$("td:contains('Without Egg')").replaceWith("\
    <div class=\"brander\"> \
        <img src=\"http:\/\/i.imgur.com/MTRR9yk.png\"> \
        <div class=\"value-propositions\">Eggless</div> \
    </div>");
//only eggless

$("td:contains('Both Available')").replaceWith("\
    <div class=\"brander\"> \
        <img src=\"http:\/\/i.imgur.com/ONBo3Zf.png\"> \
        <img src=\"http:\/\/i.imgur.com/MTRR9yk.png\"> \
        <div class=\"value-propositions\">Both</div> \
    </div>");
//both egg and eggless available

$("td:contains('Boozy')").replaceWith("\
    <div class=\"brander\"> \
        <img src=\"http:\/\/i.imgur.com/4x4cDec.png\"> \
        <div class=\"value-propositions\">Boozy</div> \
    </div>");
//BOOZYYYY

$("td:contains('Fruity')").replaceWith("\
    <div class=\"brander\"> \
        <img src=\"http:\/\/i.imgur.com/4x4cDec.png\"> \
        <div class=\"value-propositions\">Fruity</div> \
    </div>");
//fruity

$("td:contains('Serves')").replaceWith("\
    <div class=\"brander\"> \
        <img src=\"http:\/\/i.imgur.com/B4AerIM.png\"> \
    </div>");
$("td:contains('serves')").replaceWith("\
    <div class=\"brander\"> \
        <img src=\"http:\/\/i.imgur.com/B4AerIM.png\"> \
    </div>");
//Serves


//nutella
$("td:contains('Nutella')").replaceWith("\
    <div class=\"brander\"> \
        <img src=\"http:\/\/i.imgur.com/NP6oNCz.png\"> \
        <div class=\"value-propositions\">Nutella</div> \
    </div>");


//chocolate icon 
$("td:contains('Chocolate')").replaceWith("\
    <div class=\"brander\"> \
        <img src=\"http:\/\/i.imgur.com/ByjRt19.png\"> \
        <div class=\"value-propositions\">Chocolate</div> \
    </div>");

$("td:contains('Nutty')").replaceWith("\
    <div class=\"brander\"> \
        <img src=\"http:\/\/i.imgur.com/OXftMdE.png\"> \
        <div class=\"value-propositions\">Nutty</div> \
    </div>");
//nutty

$("td:contains('Sugar-free option available')").replaceWith("\
    <div class=\"brander\"> \
        <img src=\"http:\/\/i.imgur.com/tXOK119.png\"> \
        <div class=\"value-propositions\">SugarFree</div> \
    </div>");
//sugarfree option available

$("td:contains('Sweet')").replaceWith("\
    <div class=\"brander\"> \
        <img src=\"http:\/\/i.imgur.com/dLU8N1R.png\"> \
        <div class=\"value-propositions\">Sweet</div> \
    </div>");
//sugar

$("td:contains('Seasonal')").replaceWith("\
    <div class=\"brander\"> \
        <img src=\"http:\/\/i.imgur.com/tgFuDtP.png\"> \
        <div class=\"value-propositions\"></div> \
    </div>");
//seasonal

$("td:contains('Healthy')").replaceWith("\
    <div class=\"brander\"> \
        <img src=\"http:\/\/i.imgur.com/gsEYmxO.png\"> \
        <div class=\"value-propositions\"></div> \
    </div>");
//healthy

$("td:contains('No')").replaceWith("\
    <div class=\"brander\"> \
        <img src=\"http:\/\/i.imgur.com/hNKVfOA.png\"> \
        <div class=\"value-propositions\">Gluten-Free</div> \
    </div>");
//Gluten Free


</script>
<style>
.brander{
text-align:center;
}

td:first-child {
    display: none;
}

#product-properties > tbody > tr:nth-child(2) > td {
left:69%;
}
#product-properties > tbody > tr:nth-child(2) > div > img{
position:relative;
top:8px;
}
</style>
