<div id="et-header">
  <div class="header-top">
    <div class="container">
      <div class="header-login">
        <ul >
          <li id="link-to-login" data-hook>
        <% if spree_current_user %>
  <li><%= link_to Spree.t(:my_account), spree.account_path %></li>
  <li><%= link_to Spree.t(:logout), spree.logout_path %></li>
<% else %>
  <li id="link-to-login"><%= link_to Spree.t(:login), spree.login_path %></li>
<% end %>
      </li>
        </ul>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
  
        <%= render :partial => 'spree/shared/nav_bar' %>
      </div>
    </div>
  </header>
  <div class="navbar navbar-collapse navcol-md-12 col-sm-12 collapse" id="myNavbar">
    <%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
  </div>
</div>

